.modal-body {
  padding: 0;
}

.img-card {
  background-color: rgba(0, 0, 0, 0.6);
}

.img-modal {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3)
  );
  text-align: left;
}

.modal-right {
  text-align: right;
}
